site_name: PurrBot Documentation
site_description: 'API-Documentation and Wiki of *Purr*'
site_author: 'Andre_601'

site_url: 'https://docs.purrbot.site'

copyright: |
  Docs made with 
  <img alt="â¤" class="twemoji heart-anim md-footer-custom-text" src="https://twemoji.maxcdn.com/v/latest/svg/2764.svg" title="love"> 
  and provided under the 
  <a href="https://github.com/purrbot-site/Docs/blob/master/LICENSE" target="_blank">MIT-License</a>.

docs_dir: docs/

repo_name: purrbot-site/PurrBot
repo_url: https://github.com/purrbot-site/PurrBot
edit_uri: https://github.com/purrbot-site/Docs/edit/master/docs

nav:
  - Welcome: index.md
  - API:
    - ImageAPI: api/index.md
  - Bot:
    - General:
      - Welcome: bot/index.md
      - Commands: bot/commands.md
      - FAQ: 'https://purrbot.site/discord'
      - Selfhosting: bot/selfhosting.md
    - Welcome-System:
      - Setup: bot/welcome-channel.md
      - Images: bot/welcome-images.md
  - Contributing:
    - Contribute: contribute/index.md
    - Formatting Help: contribute/formatting-help.md
    - Translations: contribute/translate.md
  - Credits:
    - Credits: credits.md
  - Legal: 
    - Info: legal/index.md
    - Bot: legal/bot.md
    - API: legal/api.md
    - Website: legal/website.md

theme:
  name: 'material'
  custom_dir: 'theme'
  logo: 'assets/img/logo.png'
  favicon: 'assets/img/logo.png'
  palette:
    scheme: slate
    primary: cyan
    accent: blue
  features:
  - navigation.tabs
  - navigation.sections
  icon:
    repo: fontawesome/brands/github-square

extra_css:
  - 'assets/css/extra.css'

extra:
  social:
    - icon: 'fontawesome/brands/github'
      link: 'https://github.com/purrbot-site'
    - icon: 'fontawesome/brands/twitter'
      link: 'https://twitter.com/TruePurrBot'

markdown_extensions:
  - attr_list
  - admonition
  - codehilite:
      guess_lang: false
  - toc:
      permalink: true
  - meta
  - pymdownx.superfences
  - pymdownx.tabbed
  - pymdownx.details
  - pymdownx.magiclink:
      repo_url_shortener: true
      repo_url_shorthand: true
      social_url_shorthand: true
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
