html,
body {
    background-color: #282b36;
    color: #f8f8f2;
}

html .md-nav--primary .md-nav__title~.md-nav__list {
    background-color: #282b36;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #f8f8f2 !important;
}

code {
    background-color: #4e4e4e !important;
    color: #d9d9d9 !important;
    box-shadow: 0em 0 0 #4e4e4e, 0em 0 0 #4e4e4e !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

blockquote {
    color: #e4e4e4 !important;
}

.md-nav__link[data-md-state=blur] {
    color: #b1b1b1a1;
}

.md-search__scrollwrap {
    background-color: #6c6d73 !important;
}

.md-search-result__article--document:before {
    color: #f8f8f2 !important;
}

.md-search-result__meta {
    color: #f8f8f2 !important;
}

.md-search-result__teaser {
    color: rgba(255, 255, 255, 0.57) !important;
}

.md-typeset .task-list-control [type=checkbox]:checked+.task-list-indicator:before,
.md-typeset .task-list-control .task-list-indicator:before {
    color: #f8f8f2 !important;
}

.md-typeset .admonition,
.md-typeset .md-typeset__table table {
    background-color: #00000052;
}

html body .md-typeset .md-source-file {
    color: #f8f8f2 !important;
    background-color: #585858 !important;
}

.md-typeset mark {
    background-color: rgba(255, 235, 59, 0.73) !important;
    box-shadow: 0.25em 0 0 rgba(255, 235, 59, 0.73), -0.25em 0 0 rgba(255, 235, 59, 0.73) !important;
}

.md-typeset del.critic {
    background-color: #9e0000 !important;
    box-shadow: 0.25em 0 0 #9e0000, -0.25em 0 0 #9e0000 !important;
}

.md-typeset ins.critic {
    background-color: #008e00 !important;
    box-shadow: 0.25em 0 0 #008e00, -0.25em 0 0 #008e00 !important;
}

.md-typeset .critic.comment {
    color: #000000 !important;
}

.md-typeset .critic.comment:before {
    color: #000000 !important;
}

/* Small devices */
@media only screen and (max-width: 76.1875em) {
    .md-nav {
        background-color: #282b36;
    }

    html .md-nav--primary .md-nav__title,
    html .md-nav--primary .md-nav__title:before {
        color: #f8f8f2 !important;
    }
}

/* Medium devices */
@media only screen and (min-width: 60em) {
    [data-md-toggle=search]:checked~.md-header .md-search__input {
        background-color: #b1b1b13b !important;
        color: #fff !important;
    }

    .md-search__icon[for=__search]:before,
    .md-search__icon[for=__search]:after {
        color: #fff;
    }
}

.md-typeset .footnote {
    color: rgba(255, 255, 255, 0.78) !important;
}

.md-footer-nav {
    background-color: rgba(19, 19, 19, 0.64) !important;
}

.md-typeset .highlighttable .linenodiv, .md-typeset .highlighttable .linenodiv {
    background-color: #585858 !important;
    color: white !important;
}

[data-md-color-primary=indigo] .md-typeset a {
    color: #5e71dc !important;
}

[data-md-color-primary=purple] .md-typeset a {
    color: #c352d6 !important;
}

[data-md-color-primary=deep-purple] .md-typeset a {
    color: #9a6bea !important;
}

[data-md-color-primary=brown] .md-typeset a {
    color: #c58d78 !important;
}

[data-md-color-primary=grey] .md-typeset a {
    color: #a9a7a7 !important;
}

[data-md-color-primary=blue-grey] .md-typeset a {
    color: #678592 !important;
}

/* Code block changes taken from: https://github.com/jwarby/jekyll-pygments-themes */
.highlight pre{ background-color: #272822 !important; color: #d9d9d9; }
.highlight .hll { background-color: #272822; }
.highlight .c { color: #75715e } /* Comment */
.highlight .err { color: #960050; background-color: #1e0010 } /* Error */
.highlight .k { color: #66d9ef } /* Keyword */
.highlight .l { color: #ae81ff } /* Literal */
.highlight .n { color: #f8f8f2 } /* Name */
.highlight .o { color: #f92672 } /* Operator */
.highlight .p { color: #f8f8f2 } /* Punctuation */
.highlight .cm { color: #75715e } /* Comment.Multiline */
.highlight .cp { color: #75715e } /* Comment.Preproc */
.highlight .c1 { color: #75715e } /* Comment.Single */
.highlight .cs { color: #75715e } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .kc { color: #66d9ef } /* Keyword.Constant */
.highlight .kd { color: #66d9ef } /* Keyword.Declaration */
.highlight .kn { color: #f92672 } /* Keyword.Namespace */
.highlight .kp { color: #66d9ef } /* Keyword.Pseudo */
.highlight .kr { color: #66d9ef } /* Keyword.Reserved */
.highlight .kt { color: #66d9ef } /* Keyword.Type */
.highlight .ld { color: #e6db74 } /* Literal.Date */
.highlight .m { color: #ae81ff } /* Literal.Number */
.highlight .s { color: #e6db74 } /* Literal.String */
.highlight .na { color: #a6e22e } /* Name.Attribute */
.highlight .nb { color: #f8f8f2 } /* Name.Builtin */
.highlight .nc { color: #a6e22e } /* Name.Class */
.highlight .no { color: #66d9ef } /* Name.Constant */
.highlight .nd { color: #a6e22e } /* Name.Decorator */
.highlight .ni { color: #f8f8f2 } /* Name.Entity */
.highlight .ne { color: #a6e22e } /* Name.Exception */
.highlight .nf { color: #a6e22e } /* Name.Function */
.highlight .nl { color: #f8f8f2 } /* Name.Label */
.highlight .nn { color: #f8f8f2 } /* Name.Namespace */
.highlight .nx { color: #a6e22e } /* Name.Other */
.highlight .py { color: #f8f8f2 } /* Name.Property */
.highlight .nt { color: #f92672 } /* Name.Tag */
.highlight .nv { color: #f8f8f2 } /* Name.Variable */
.highlight .ow { color: #f92672 } /* Operator.Word */
.highlight .w { color: #f8f8f2 } /* Text.Whitespace */
.highlight .mf { color: #ae81ff } /* Literal.Number.Float */
.highlight .mh { color: #ae81ff } /* Literal.Number.Hex */
.highlight .mi { color: #ae81ff } /* Literal.Number.Integer */
.highlight .mo { color: #ae81ff } /* Literal.Number.Oct */
.highlight .sb { color: #e6db74 } /* Literal.String.Backtick */
.highlight .sc { color: #e6db74 } /* Literal.String.Char */
.highlight .sd { color: #e6db74 } /* Literal.String.Doc */
.highlight .s2 { color: #e6db74 } /* Literal.String.Double */
.highlight .se { color: #ae81ff } /* Literal.String.Escape */
.highlight .sh { color: #e6db74 } /* Literal.String.Heredoc */
.highlight .si { color: #e6db74 } /* Literal.String.Interpol */
.highlight .sx { color: #e6db74 } /* Literal.String.Other */
.highlight .sr { color: #e6db74 } /* Literal.String.Regex */
.highlight .s1 { color: #e6db74 } /* Literal.String.Single */
.highlight .ss { color: #e6db74 } /* Literal.String.Symbol */
.highlight .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #f8f8f2 } /* Name.Variable.Class */
.highlight .vg { color: #f8f8f2 } /* Name.Variable.Global */
.highlight .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.highlight .il { color: #ae81ff } /* Literal.Number.Integer.Long */
.highlight .gh { } /* Generic Heading & Diff Header */
.highlight .gu { color: #75715e; } /* Generic.Subheading & Diff Unified/Comment? */
.highlight .gd { color: #f92672; } /* Generic.Deleted & Diff Deleted */
.highlight .gi { color: #a6e22e; } /* Generic.Inserted & Diff Inserted */

.highlight .gd,
.md-typeset .highlight .gd {
    background-color: #6b0e0e66;
    color: #ff5a5a;
}

.highlight .gi,
.md-typeset .highlight .gi {
    background-color: #2b3a2b;
}

.md-typeset .superfences-content,
.md-typeset .highlight {
    background-color: #0000 !important;
}