{% extends "main.html" %}
{% block tabs %}
  {{ super() }}
  <style>
    .md-header {
      position: initial;
    }
    .md-main__inner {
      margin: 0;
    }
    .md-content {
      display: none;
    }
    @media screen and (min-width:60em){
      .md-sidebar--secondary {
        display: none;
      }
    }
    @media screen and (min-width:76.25em){
      .md-sidebar--primary{
        display: none;
      }
    }
    .md-tabs {
      display: none;
    }
  </style>
  <section class="mdx-container">
    <div class="md-grid md-typeset">
      <header class="mdx-hero">
        <img src="/assets/img/logo.png" alt="" width="200" height="200" draggable="false">
        <p class="mdx-description">
          {% if page.meta and page.meta.subtitle %}
            {{ page.meta.subtitle }}
          {% else %}
            Discord Bot for fun, entertainment and nekos.
          {% endif %}
        </p>
          <a href="https://purrbot.site" class="md-button">
            {% if page.meta and page.meta.button and page.meta.button.website %}
              {{ page.meta.button.website }}
            {% else %}
              Main Website
            {% endif %}
          </a>
          <a href="https://github.com/purrbot-site/PurrBot" class="md-button">
            {% if page.meta and page.meta.button and page.meta.button.source %}
              {{ page.meta.button.source }}
            {% else %}
              Source Code
            {% endif %}
          </a>
        <p>
      </header>
      <div class="mdx-description">
        {{ page.content }}
      </div>
    </div>
  </section>
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
  {{ super() }}
{% endblock %}
