{% import "partials/languages/de.html" as language %}
{% import "partials/languages/en.html" as fallback %}

{% macro override(key) %}{{ {
  "language": "de_ch",
  "action.edit": "Seite bearbeiten",
  "action.skip": "Zu Inhalt springen",
  "action.view": "Quellcode der Seite anzeigen",
  "announce.dismiss": "Nicht erneut anzeigen",
  "blog.archive": "Archiv",
  "blog.categories": "Kategorien",
  "blog.categories.in": "in",
  "blog.continue": "Weiterlesen",
  "blog.draft": "Entwurf",
  "blog.index": "Zur Übersicht",
  "blog.meta": "Metadaten",
  "blog.references": "Weiterführende Links",
  "clipboard.copy": "In Zwischenablage kopieren",
  "clipboard.copied": "In Zwischenablage kopiert",
  "consent.accept": "Akzeptieren",
  "consent.manage": "Einstellungen verwalten",
  "consent.reject": "Ablehnen",
  "footer": "Fusszeile",
  "footer.next": "Nächste",
  "footer.previous": "Vorherige",
  "header": "Kopfzeile",
  "meta.comments": "Kommentare",
  "meta.source": "Quellcode",
  "nav": "Navigation",
  "readtime.one": "1 Min. Lesezeit",
  "readtime.other": "# Min. Lesezeit",
  "rss.created": "RSS Feed",
  "rss.updated": "RSS Feed von aktualisierten Inhalten",
  "search": "Suche",
  "search.config.lang": "de",
  "search.placeholder": "Suche",
  "search.share": "Teilen",
  "search.reset": "Zurücksetzen",
  "search.result.initializer": "Inizialisiere Suche",
  "search.result.placeholder": "Suchbegriff eingeben",
  "search.result.none": "Keine passenden Dokumente",
  "search.result.one": "1 passendes Dokument",
  "search.result.other": "# passende Dokumente",
  "search.result.more.one": "1 weitere auf dieser Seite",
  "search.result.more.other": "# weitere auf dieser Seite",
  "search.result.term.missing": "Es fehlt",
  "select.language": "Sprache wählen",
  "select.version": "Version wählen",
  "source": "Zum Repository",
  "source.file.contributors": "Mitwirkende",
  "source.file.date.created": "Erstellt",
  "source.file.date.updated": "Letztes Update",
  "tabs": "Haubtnavigation",
  "toc": "Inhaltsverzeichnis",
  "top": "Zurück zum Anfang"
}[key] }}{% endmacro %}

{% macro t(key) %}{{
  override(key) or language.t(key) or fallback.t(key)
}}{% endmacro %}