:root > * {
    --md-primary-fg-color: #3F51B5;
    --md-typeset-a-color: #00BDD6;
}

.md-typeset .md-button {
    color: #00BDD6;
}

.md-typeset blockquote {
    background-color: var(--md-admonition-bg-color);
    box-shadow: 0 0.2rem 0.5rem rgb(0 0 0 / 30%), 0 0.025rem 0.05rem rgb(0 0 0 / 30%);
}

.md-typeset .admonition, .md-typeset details {
    box-shadow: 0 0.2rem 0.5rem rgb(0 0 0 / 30%), 0 0.025rem 0.05rem rgb(0 0 0 / 30%);
}
