.md-tabs__item {
    height: 2rem;
}

.md-tabs__link {
    margin-top: .4rem;
}

.md-header__button.md-logo img, .md-header__button.md-logo svg {
    width: 2.4rem;
    height: 2.4rem;
}

.md-nav__item--section > .md-nav > .md-nav__list {
    margin-left: 0.5rem;
}
